.CardDeck {
  width: 150px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background: #b00020d2;
  border-radius: 30px;
  border: 1px ridge rgba(0, 0, 0, 0.2);
}

.CardDeck:hover {
  border-radius: 3px;
}

.CardDeck:active {
  width: 170px;
  margin-top: .7rem;
}

.CardDeck-title {
  margin-bottom: 1rem;
  color: white;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  letter-spacing: 1px;
}

.CardDeck-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  background-color: rgb(86, 94, 93);
  border-radius: 15px;
  margin-bottom: 1rem;
  border: 2px ridge #616d606c;
}

.CardDeck-image img {
  box-shadow: -17px 25px 13px -5px#616d60;
  border-radius: 50%;
}