.DiscardCard {
  width: 165px;
  max-height: 223px;
  padding: 10px 20px;
  margin: 1rem;
  color: #fff;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  /* background: rgba(156, 168, 146, 0.8); */
  background: rgb(107, 119, 107);
  border-radius: 3px;
  border: 1.5px ridge rgba(0, 0, 0, 0.2);

}

.DiscardCard-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  letter-spacing: 1px;
}

.DiscardCard-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  background-color: #eceff1;
  border-radius: 3px;
  margin-bottom: 1rem;
  margin-top: .3rem;
  border: 1.5px ridge #6464646c;
  box-shadow: -17px 5px 13px -5px #616d60;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);

}

.DiscardCard-data {
  font-size: 85%;
  text-transform: capitalize;
  font-family: 'Handlee', cursive;
  letter-spacing: .5px;
}