@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Orbitron:wght@900&family=Piedra&family=Special+Elite&display=swap");

.home-wrapper {
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: grid;
}

header {
  margin: -20px;
  text-align: center;
}

header h1 {
  margin-top: -50px;
  font-size: 5rem;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  background-size: 500% 500%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveBg 10s linear infinite;
  -webkit-animation: moveBg 10s cir infinite;
  background-image: linear-gradient(295deg, rgba(231, 231, 231, 0.08) 0%, rgba(231, 231, 231, 0.08) 14%, rgba(224, 224, 224, 0.08) 14%, rgba(224, 224, 224, 0.08) 51%, rgba(140, 140, 140, 0.08) 51%, rgba(140, 140, 140, 0.08) 100%),
    linear-gradient(295deg, rgba(244, 244, 244, 0.09) 0%, rgba(244, 244, 244, 0.09) 21%, rgba(158, 158, 158, 0.09) 21%, rgba(158, 158, 158, 0.09) 31%, rgba(162, 162, 162, 0.09) 31%, rgba(162, 162, 162, 0.09) 89%, rgba(115, 115, 115, 0.09) 89%, rgba(115, 115, 115, 0.09) 100%),
    linear-gradient(295deg, rgb(59, 53, 68), rgba(22, 0, 75, 0.973));
}

@keyframes moveBg {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 0 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

header h1:hover {
  transform: scale(1.1);
  opacity: 0.9;
  transition: all ease 500ms;
}

header .image {
  border-radius: 50%;
  box-shadow: -15px 25px 12px -5px rgb(0, 0, 0);
}

header h3 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Amatic SC", cursive;
}

.battleCard {
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(290deg, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(60deg, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 80px auto;
  height: 320px;
  max-width: 450px;
  letter-spacing: 1px;
  box-shadow: 10px -20px 30px 20px rgba(7, 7, 7, 0.8);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  border: 5px ridge #004e92;
  background-size: 300% 300%;
  position: relative;
  animation: change 2s ease-out infinite;
  -webkit-animation: change1 2s ease-out infinite;
}

@keyframes change1 {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.battleCard h5 {
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 28px;
  font-family: "Piedra", cursive;
  color: rgb(217, 255, 0);
  border-bottom: 2px ridge rgb(0, 255, 149);
  border-radius: 4px;
  box-shadow: -17px 10px 12px -5px rgba(0, 0, 0, 0.56);
  transition: all 0.5s;

}

.battleCard h5:hover {
  font-size: 32px;
  color: orange;
}

.all-btn {
  font-family: "Special Elite", cursive;
  background-color: transparent;
  box-shadow: -17px 10px 12px -7px rgba(63, 27, 27, 0.56);
  border-radius: 10px;
  border: 1px solid;
  letter-spacing: 0.8px;
  transition: all 0.5s;
}

.all-btn:hover {
  transform: scale(1.05);
  transition: all ease 500ms;
  box-shadow: 17px 0 1px 1px inset, 17px 0 1px 0;
  border: none;
  left: -10px;
}

.all-btn:active {
  outline: none;
}

.all-btn span {
  position: relative;
  transition: 0.5s;
}

.all-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn1 {
  color: rgb(0, 255, 0)
}

.btn2 {
  color: yellow
}

.game-rules {
  color: white;
}

.game-rules:hover span {
  padding-right: 25px;
  color: rgb(255, 72, 0);
}

.game-rules span:after {
  content: '>>';
  font-size: 1.25rem;
  position: absolute;
  opacity: 0;
  top: -5px;
  right: -20px;
  transition: 0.5s;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 44px;
    margin: 10px;
    padding-top: 50px;
    margin-top: 33%;

  }

  .image {
    width: 40px;
    height: 40px;
  }

  header h3 {
    font-size: 24px;
  }

  .battleCard {
    height: 300px;
    width: 260px;
    box-shadow: 22px 20px 30px -2px rgba(0, 0, 0, 0.56);
    opacity: .97;
    border: 10px outset #004e92;
    border-radius: 60px;
  }

  .battleCard h5 {
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    margin-top: 27px;
    margin-bottom: 12px;
    opacity: .95;
  }

  .all-btn {
    font-size: 12px;
    margin-top: .75rem;
    border-radius: 5px;
  }
}