@import url("https://fonts.googleapis.com/css?family=Work+Sans");

body {
  margin: 0;
  font-family: "Work Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceff1;
  color: #4d4d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fffc00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #fffc00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
