.TypeList {
    width: 200px;
    margin-top: 103px;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    background-color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.TypeList-data {
    font-size: 80%;
    box-shadow: 7px 10px 12px -5px rgba(123, 226, 140, 0.56);
    padding: 5px;
}

.TypeList-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 7px 10px 12px -5px rgba(246, 250, 0, 0.56);

}

.TypeList-data:hover {
    transform: scale(1.2);
    color: red;
    transition: all ease 500ms;
}
ul {
    margin-left: -15%;
}

.count {
    font-weight: bold;
    margin-right: 10px;
}

.type {
    text-transform: capitalize;
}