.TypeList {
    width: 200px;
    max-height: 262px;
    margin: 0;
    margin-top: 109px;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    background: #b00020;
    /*linear-gradient(to right, #ff512f, #dd2476); #b00020; rgb(20, 41, 224)*/
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TypeList-content {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 150px;
    background-color: #cc0025;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding-top: 16px;
    border: 1px ridge rgba(0, 0, 0, 0.1);
}

.TypeList-title {
    font-family: "Piedra", cursive;
    margin-bottom: 1rem;
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
}

.TypeList-data {
    font-family: "Amatic SC", cursive;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(245, 229, 229);
    letter-spacing: .5px;
}

.TypeList-data:hover {
    transform: scale(1.2);
    color: red;
    transition: all ease 500ms;
}

ul {
    margin-left: -12.5%;
}

.count {
    color: rgb(246, 250, 7);
    font-size: 1.1em;
    font-weight: 900;
    margin-right: 10px;
}

/* 
.type {
    text-transform: capitalize;
} */